<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--指定properties文件的位置，从类路径根开始找文件-->
    <properties resource="jdbc.properties"/>
    <!--控制mybatis全局行为-->
    <settings>
        <!--设置mybatis输出日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <!--环境配置：数据库的连接信息
        default：必须和某个environment的id值一样
        告诉mybatis使用哪个数据库的连接信息
    -->
    <environments default="stu">
        <!--
        environment：一个数据库信息的配置，环境
            id： 一个唯一值，自定义，表示环境的名称。
        -->
        <environment id="stu">
            <!--
            transactionMapp：mybatis的事务类型
              type ：JDBC（表示使用jdbc中的connection对象的commit，rollback做事务处理）
            -->
            <transactionManager type="JDBC"/>
            <!--
            DataSource ：表示数据源，连接数据库的
              type： 表示数据源的类型，POOLED表示使用连接池
            -->
            <dataSource type="POOLED">
                <!--
                driver，URL，username，password是固定的，不能自定义。
                -->
                <!--数据库驱动类名-->
                <property name="driver" value="${jdbc.driver}"/>
                <!--连接数据库的URL字符串-->
                <property name="url" value="${jdbc.url}"/>
                <!--访问数据库的用户名-->
                <property name="username" value="${jdbc.username}"/>
                <!--数据库访问的密码-->
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--SQL mapper（SQL映射文件）的位置-->
    <mappers>
        <!--一个mapper标签指定一个文件的位置。
        从类路径开始的路径信息。 target/classess（类路径）-->
        <mapper resource="org/example/dao/StudentDao.xml"/>
    </mappers>
</configuration>

        <!--
        mybatis的主配置文件：主要定义了数据库的配置信息，SQL映射文件的位置
        1.
        -->